Repository lukin/keywind, changes with the labels that .github/labeler.yml gives for each.
All labels: type: documentation, type: maintenance

.github/labeler.yml:

---
# this file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler

'type: documentation':
  - assets/**/*
  - .github/*
  - ./*.md

'type: maintenance':
  - .github/**/*

feat: update base theme
  theme/keywind/login/components/atoms/body.ftl
Labels: none

fix: ignore Jetbrains
  .gitignore
Labels: none

chore: add changelog
  CHANGELOG.md
  theme/keywind/login/components/atoms/body.ftl
Labels: type: documentation

feat: add github actions workflow
  .github/workflows/release-please.yml
  package.json
  pnpm-lock.yaml
Labels: type: maintenance

chore(master): release 1.1.265
  CHANGELOG.md
  package.json
Labels: type: documentation

chore(master): release 1.1.266
  CHANGELOG.md
  package.json
Labels: type: documentation

feat: add welcome theme
  META-INF/keycloak-themes.json
  README.md
  theme/keywind/welcome/index.ftl
  theme/keywind/welcome/theme.properties
Labels: type: documentation

fix: fix the overflow issue of the language selector scrollbar
  theme/keywind/login/components/molecules/locale-provider.ftl
  theme/keywind/login/resources/dist/index.css
Labels: none

fix: adjust locale-provider to prevent text folding
  theme/keywind/login/components/molecules/locale-provider.ftl
  theme/keywind/login/resources/dist/index.css
Labels: none

update gitignore
  .gitignore
Labels: none

improve local development process by hot reload
  .gitignore
  README.md
  docker-compose.yml
  theme/keywind/login/document.ftl
Labels: type: documentation

Add formnovalidate attribute to ignore required fields when cancel is clicked on update password page
  theme/keywind/login/login-update-password.ftl
Labels: none

Fix WebAuthN bug
  theme/keywind/login/webauthn-register.ftl
Labels: none

chore(master): release 1.1.267
  CHANGELOG.md
  package.json
Labels: type: documentation

chore(master): release 1.1.268
  CHANGELOG.md
  package.json
Labels: type: documentation
